<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css"
        integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
</head>

<body>
    <form action="/edit" method="POST">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" placeholder="First Name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" placeholder="Last Name">
        <label for="image_url">Image URL</label>
        <input type="text" name="image_url" placeholder="Image URL">
        <a href="/" class="btn btn-secondary">Cancel</a>
        <button>Save</button>
    </form>

</body>

</html>